 *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Monaco', sans-serif;
  user-select: none;
}

.main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.calculator {
  width: 540px;
  height: 715px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  font-size: 33px;
}

.display, .keypad {
  border-radius: 10px;
}

.display {
  height: 128px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.display-text {
  padding-right: 31px;
  font-size: 52px;
}

.keypad {  
  width: 100%;
  padding: 31px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(5, 1fr);
  gap: 24px;
  grid-template-areas: 
  ". . . . "
  ". . . . "
  ". . . . "
  ". . . . "
  "reset reset equals equals";
}

.key {
  width: auto;
  height: 60px; 
  display: flex;
  align-items: flex-end;
  padding-bottom: 7px;
  justify-content: center;
  border-radius: 10px;
  cursor: pointer;
}

.key-text {
  font-size: 38px;
}

.key-type-1, .key-type-2 {
  padding-bottom: 12px;
}

.key-type-1 > .key-text, .key-type-2 > .key-text {
  text-transform: uppercase;
  font-size: 30px;
}

.key-area-equals {
  grid-area: equals;
}

@media (max-width: 560px) {

  .keypad {
    gap: 15px;
  } 

  .key {
    height: 70px;
    padding-bottom: 11px;
  }

  .key-type-1 > .key-text, .key-type-2 > .key-text {
    font-size: 22px;
    padding-bottom: 11px;
  }

}